@import url('../utils/appTheme.css');
.blogPostItemContainer {
  background-color: var(--appWhiteBase);
  padding: 15px 25px;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 12px 0;
}
.blogPostItemContainer:hover {
  cursor: pointer;
  -webkit-box-shadow: var(--blogItemCardShadow);
  -moz-box-shadow: var(--blogItemCardShadow);
  box-shadow: var(--blogItemCardShadow);
}
.blogheader-blue {
  border-top: 8px solid var(--topMarginBlueColor);
}
.blogheader-green {
  border-top: 8px solid var(--topMarginGreenColor);
}
.blogPostItemBody {
  margin: 20px 0;
  font-size: 16px;
}
.blogPostItemFooter {
  margin-bottom: 10px;
}
.blogPostItemDateContainer {
  padding: 10px 0;
  font-size: 16px;
}
.blogPostItemDateContainer-xs {
  font-size: 14px; 
}
.footerButton {
  border-radius: 28px;
  padding: 10px 20px;
  border: none;
  color: var(--appWhiteBase);
}
.footerButton-blue {
  background-image: var(--buttonBlueGradient);
}
.footerButton-green {
  background-image: var(--buttonGreenGradient);
}
.footerButtonContainer {
  margin-top: 20px;
}
.badge {
  margin-right: 4px;
}
.badge-blue {
  background-color: var(--badgeBlueColor);
}
.badge-green {
  background-color: var(--badgeGreenColor);
}
