@import url('../../utils/appTheme.css');
.cardContainer {
  background-color: var(--appWhiteBase);
  padding: 15px 25px;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 12px 0;
}

.cardHeader-profile {
  border-top: 8px solid var(--topMarginProfileColor);
}

.cardBody {
  margin: 20px 0;
  font-size: 16px;
}

.cardBody a {
  text-decoration: underline;
  color: #000000;
}

.cardBody a:hover {
  cursor: pointer;
}

.cardBody {
  font-size: 16px;
}

.cardBody li {
  margin: 5px 0;
}

.cardBody .label {
  margin-left: 10px;
}

.cardBody tr {
  height: 30px;
}

.cardBody .skillsRow {
  margin-bottom: 10px;
}

.cardBody  .skillsRowLast {
  margin-bottom: 0;
}

.cardBody .skillsRow .label {
  display: inline-block;
}

.cardBody .skillsSeparator {
  margin: 10px 0;
}