.panel {
  border: none;
  border-radius: 0;
}
.panel-default > .panel-heading {
  background-color: #FFFFFF;
}
.panelBody {
  font-size: 16px;
}
.panelBody a {
  text-decoration: underline;
  color: #000000;
}
.panelBody li {
  margin: 5px 0;
}
.panelBody .label {
  margin-left: 10px;
}
.panelBody tr {
  height: 30px;
}
.panelBody .skillsRow {
  margin-bottom: 10px;
}
.panelBody .skillsRowLast {
  margin-bottom: 0;
}
.panelBody .skillsRow .label {
  display: inline-block;
}
.panelBody .skillsSeparator {
  margin: 10px 0;
}
